@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-map {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-active {
  opacity: 1;
  transform: translateX(0);
}